@charset "UTF-8";
/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
/* Mixin */
/* Extend */
.titulo-base, .titulotn, .titulofito, .titulodatos {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* Header */
.bg-body-tertiary {
  background-color: #fff8f0 !important;
  font-family: "Faculty Glyphic", serif;
  font-size: 15px;
}

.navbar .nav-link,
.navbar .dropdown-item {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  color: rgb(68, 51, 32);
  text-decoration: none;
}

/* Main */
body {
  font-family: "Faculty Glyphic", serif;
  color: #443320;
  background-color: #fffefd;
}

.banner {
  width: 100%;
  padding-bottom: 30px;
}

/* Etiquetas generales */
.italic {
  font-style: italic;
}

h1 {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

h4 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: left;
}

.imagenes {
  margin: 0 auto;
  display: block;
  width: 800px;
  height: 400px;
  padding-bottom: 20px;
  padding-top: 20px;
}

ul {
  text-align: justify;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  justify-content: center;
}

ol {
  text-align: justify;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  justify-content: center;
}

/* Datos de la Semana */
.titulodatos {
  font-size: 20px;
}

.datosp {
  text-align: justify;
  margin: 40px;
  padding-left: 95px;
  padding-right: 95px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

/* Fitoterapia */
.titulofito {
  font-size: 25px;
}

.parrafofito {
  text-align: justify;
  margin: 40px;
  padding-left: 95px;
  padding-right: 95px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

/* Categorìas Fitoterapia */
.categorias {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 20px;
  border: 20px;
}
.categorias .categoriasima {
  width: 335px;
  height: 200px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Tinturas Madre */
.titulotn {
  font-size: 25px;
}

.parrafotn {
  text-align: justify;
  margin: 40px;
  padding-left: 95px;
  padding-right: 95px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.titulotn3 {
  text-align: left;
  margin: 40px;
  padding-left: 95px;
  padding-right: 95px;
  font-size: 20px;
}

.listatn {
  text-align: justify;
  margin: 40px;
  padding-left: 95px;
  padding-right: 95px;
  font-size: 15px;
}

/* Sistemas Menu */
.sistemamenu {
  display: flex;
  justify-content: center;
}
.sistemamenu .enlasessistemas {
  margin: 40px;
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(68, 51, 32);
  text-decoration: none;
  border: 2px solid #443320;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #fffefd;
}

/* Grilla Plantas y Sistemas */
.plantasmenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}
.plantasmenu .imagplantasmenu {
  height: 35vh;
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #443320;
}

#mapa {
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Todas las fuentes/bibliografìas */
.fuentes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fuentes .titulofuentes {
  display: flex;
  justify-content: left;
  margin: 35px;
  padding-left: 100px;
  padding-right: 20px;
  font-size: 18px;
}
.fuentes .enlacefuente {
  text-align: justify;
  margin-left: 10px;
  margin-right: 40px;
  color: rgb(68, 51, 32);
  text-decoration: none;
}

.parrafofuente {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

/* Quienes somos imagenes*/
.nosotros {
  width: 350px;
  height: 470px;
  margin: 10px;
  padding: 10px;
}

/* Quienes somos display general*/
.quienessomos {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 40px;
}
.quienessomos .titulonosotros {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 10px;
  font-size: 20px;
}
.quienessomos .parrafonosotros {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 15px;
}
.quienessomos .enlacenosotros {
  font-size: 15px;
  color: #443320;
  margin-left: 40px;
  margin-top: 10px;
  text-decoration: none;
  border: 2px solid #443320;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #fffefd;
}

.titulolectores {
  margin: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: left;
}

.parrafolectores {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  display: flex;
  justify-content: left;
}

/* Newsletter*/
.newsletter {
  margin: 40px;
  display: flex;
  justify-content: space-around;
}

/* Pàginas en proceso*/
.proximamente {
  text-align: center;
  padding: 60px;
  margin: 52px;
}

/* Footer*/
footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Faculty Glyphic", serif;
  color: #fff8f0;
  background-color: #443320;
}
footer div i {
  font-size: 20px;
  color: #fff8f0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
footer div .footertx {
  font-size: 15px;
  padding: 10px;
}
footer .copyright {
  text-align: center;
  font-size: 10px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  /* Datos de la Semana */
  h1 {
    padding: 15px;
    font-size: 20px;
  }
  .imagenes {
    width: 300px;
    height: 180px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .datosp {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* Todas las fuentes/bibliografìas */
  .titulofuentes {
    margin: 20px;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 15px;
  }
  .enlacefuente {
    font-size: 8px;
  }
  .parrafofuente {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 7px;
  }
  /* Footer*/
  div i {
    font-size: 10px;
  }
  .footertx {
    font-size: 10px;
  }
  /* Tinturas Madre */
  .titulotn {
    font-size: 20px;
  }
  .parrafotn {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .titulotn3 {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
  }
  .listatn {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* Sistemas Menu */
  .enlasessistemas {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(68, 51, 32);
    text-decoration: none;
    border: 2px solid #443320;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fffefd;
    font-size: 10px;
    text-align: center;
  }
  /* Grilla Plantas y Sistemas */
  .plantasmenu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-items: center;
  }
  .imagplantasmenu {
    width: 60vw;
  }
  /* Quienes somos imagnes*/
  .nosotros {
    width: 180px;
    height: 270px;
    margin-left: 60px;
    border: 10px;
  }
  /* Quienes somos display general*/
  .quienessomos {
    display: block;
    justify-content: center;
  }
  .titulonosotros {
    font-size: 15px;
  }
  .enlacenosotros {
    font-size: 10px;
  }
  .titulofito {
    font-size: 20px;
  }
  .parrafofito {
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  /* Categorìas Fitoterapia */
  .categoriasima {
    width: 100px;
    height: 50px;
  }
  /* Newsletter*/
  .newsletter {
    display: block;
    justify-content: left;
    margin: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
