
/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* Variables */
 $fonttext: 15px;
 $paddingtext: 95px;
 $margins: 20px;
 $marginm: 40px;
 $textalignj: justify;
 $textalignc: center;
 
 /* Mixin */
@mixin flexbox ($display, $jcontent) {
  display: $display;
  justify-content: $jcontent;
}

/* Extend */
.titulo-base {
  text-align: $textalignc;
  margin: 10px;
  padding: 10px;
}


 /* Header */
 .bg-body-tertiary { 
    background-color: #fff8f0 !important; 
    font-family: "Faculty Glyphic", serif;
    font-size: $fonttext;
  }
  
  .navbar {
    .nav-link,
    .dropdown-item {
      text-align: $textalignj;
      margin-left: $marginm;
      margin-right: $marginm;
      color: rgb(68, 51, 32);
      text-decoration: none;
    }
  }

  /* Main */
body{
  font-family: "Faculty Glyphic", serif;
  color: #443320;
  background-color: #fffefd
}

.banner{
  width: 100%;
  padding-bottom: 30px;
}

/* Etiquetas generales */

.italic{
  font-style: italic;
}

h1 {
  margin: $margins;
  padding: 20px;
  font-size: 30px;
  @include flexbox(flex,center)
}

h4{
  margin-left: $margins;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  @include flexbox(flex,left)
}


.imagenes {
  margin: 0 auto;
  display: block;
  width: 800px;
  height: 400px;
  padding-bottom: 20px;
  padding-top: 20px;

}

ul {
  text-align: $textalignj;
  margin: $margins;
  padding-left: 30px;
  padding-right: 30px;
  @include flexbox(block,center)
}

ol {
  text-align: $textalignj;
  margin: $margins;
  padding-left: 30px;
  padding-right: 30px;
  @include flexbox(block,center)
}

/* Datos de la Semana */
.titulodatos {
@extend .titulo-base;
  font-size: 20px;
}

.datosp{
  text-align: $textalignj;
  margin: $marginm;
  padding-left: $paddingtext;
  padding-right: $paddingtext;
  font-size: $fonttext;
  @include flexbox(flex,center)
}

/* Fitoterapia */

.titulofito{
@extend .titulo-base;
  font-size: 25px;
}

.parrafofito{
  text-align: $textalignj;
  margin: $marginm;
  padding-left: $paddingtext;
  padding-right: $paddingtext;
  font-size: $fonttext; 
  @include flexbox(flex,center)
}

/* Categorìas Fitoterapia */
.categorias {
  @include flexbox(flex,space-evenly);
  margin: $margins;
  padding: 20px;
  border: 20px;

  .categoriasima {
    width: 335px; 
    height: 200px; 
    align-items: center;
    margin-top: $margins; 
    margin-bottom: $margins;
  }
}

/* Tinturas Madre */
.titulotn{
@extend .titulo-base;
  font-size: 25px;
}

.parrafotn{
  text-align: $textalignj;
  margin: $marginm;
  padding-left: $paddingtext;
  padding-right: $paddingtext;
  font-size: $fonttext; 
  @include flexbox(flex,center)
}

.titulotn3{
  text-align: left;
  margin: $marginm;
  padding-left: $paddingtext;
  padding-right: $paddingtext;
  font-size: 20px; 
}

.listatn{
  text-align: $textalignj;
  margin: $marginm;
  padding-left: $paddingtext;
  padding-right: $paddingtext;
  font-size: $fonttext; 
}

/* Sistemas Menu */
.sistemamenu {
  @include flexbox(flex,center);

  .enlasessistemas {
    margin: $marginm;
    padding-left: $paddingtext;
    padding-right: $paddingtext;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(68, 51, 32);
    text-decoration: none;
    border: 2px solid #443320; 
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fffefd;
  }
}

/* Grilla Plantas y Sistemas */
.plantasmenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;

  .imagplantasmenu {
    height: 35vh;
    width: 20vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #443320;
    transition: transform 0.5s ease;

    &:hover {
      transform: translate(-10px, -10px);
    }
  }
}

#mapa{
  margin: 0;
  @include flexbox(flex,center)
}

/* Todas las fuentes/bibliografìas */
.fuentes {
  @include flexbox(flex,left);
  padding-left: 30px;
  margin-top: $margins;
  margin-bottom: $margins;

  .titulofuentes {
    @include flexbox(flex,left);
    padding-left: 100px;
    padding-right: 20px;
    font-size: 18px;
  }

  .enlacefuente {
    text-align: $textalignj;
    margin-left: 10px;
    margin-right: $marginm;
    color: rgb(68, 51, 32);
    text-decoration: none;
  }

  & div {
    .parrafofuente{
      text-align: $textalignc;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
    }
  }
}

/* Quienes somos imagenes*/
.nosotros {
  width: 350px;
  height: 470px;
  margin: 10px;
  padding: 10px;
}

/* Quienes somos display general*/
.quienessomos {
  @include flexbox(flex,center);
  margin: 10px;
  padding: 40px;

  .titulonosotros{
    @include flexbox(flex,center);
    margin: 10px;
    padding: 10px;
    border: 10px;
    font-size: 20px;
  }

  .parrafonosotros{
    @include flexbox(flex,center);
    text-align: $textalignj;
    margin: $marginm;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: $fonttext;
  
  }

  .enlacenosotros{
    font-size: $fonttext;
    color: #443320;
    margin-left: 85px;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid #443320; 
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fffefd;
  }
}

.titulolectores{
  margin: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 20px;
  @include flexbox(flex,left)
}

.parrafolectores{
  text-align: $textalignj;
  margin-left: $marginm;
  margin-right: $marginm;
  margin-bottom: $marginm;
  padding-left: 30px;
  padding-right: 30px;
  font-size: $fonttext;
  @include flexbox(flex,left)
}

/* Newsletter*/
.newsletter {
margin: $marginm;
@include flexbox(flex,space-around)
}

/* Pàginas en proceso*/
.proximamente{
text-align: $textalignc;
padding: 60px;
margin: 52px;
}

/* Footer*/
footer {
  @include flexbox(flex,space-evenly);
  font-family: "Faculty Glyphic", serif;
  color: #fff8f0;
  background-color: #443320;

  div {
    i {
      font-size: 20px;
      color: #fff8f0;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
    }

    .footertx {
      font-size: 15px;
      padding: 10px;
    }
  }

  .copyright {
    text-align: $textalignc;
    font-size: 10px;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  /* Datos de la Semana */
   h1 {
      padding: 15px;
      font-size: 20px;
   }

   .imagenes {
    width: 300px;
    height: 180px;
    padding-bottom: 15px;
    padding-top: 15px;
 
 }

 .datosp{
  margin: $margins;
  padding-left: 50px;
  padding-right: 50px;
}

/* Todas las fuentes/bibliografìas */
.fuentes{
  .titulofuentes{
    padding-left: 0;
    padding-right: 50px;
    font-size: $fonttext;
  }

.enlacefuente{
  font-size: 8px;
}

& div {
.parrafofuente{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 7px;
}
}
}


 /* Footer*/

footer{
  div { 
  i{
    font-size: 10px;
  }
  .footertx{
    font-size: 10px;
  }
}
}

  /* Tinturas Madre */
  .titulotn{
    font-size: 20px;
 }

 .parrafotn{
  margin: $margins;
  padding-left: 50px;
  padding-right: 50px;
}

.titulotn3{
  margin: $margins;
  padding-left: 50px;
  padding-right: 50px;
  font-size: $fonttext; 
}

.listatn{
  margin: $margins;
  padding-left: 50px;
  padding-right: 50px;
}

   /* Sistemas Menu */
   .sistemamenu{
   .enlasessistemas{
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(68, 51, 32);
    text-decoration: none;
    border: 2px solid #443320; 
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #fffefd;
    font-size: 10px;
    text-align: $textalignc;
 }
}

    /* Grilla Plantas y Sistemas */
.plantasmenu{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;

  .imagplantasmenu{
    width: 60vw;  
  }
}

/* Quienes somos imagnes*/
.nosotros {
  width: 180px;
  height: 270px;
  margin-left: 60px;
  border: 10px;
}

/* Quienes somos display general*/
.quienessomos {
  @include flexbox(block,center);

  .titulonosotros{
    font-size: $fonttext;
  }

.enlacenosotros{
  font-size: 10px;
}

.parrafonosotros{
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;

}
}

.titulofito{
  font-size: 20px;
}

.parrafofito{
  margin: $margins;
  padding-left: 50px;
  padding-right: 50px;
}

/* Categorìas Fitoterapia */
.categorias {
.categoriasima {
  width: 100px; 
  height: 50px; 
}
}

/* Newsletter*/
.newsletter {
  @include flexbox(block,left);
 margin: $margins;
}
}